<div class="formContainer">

<h1> Edit Language-Level </h1>

<%= form_for @language do |f| %>

  <p>
    <%= f.label :level %><br>
    <%= f.text_field :level %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>


  <%= f.submit %>

<% end %>


<%= form_for @language, url: "/languages/#{@language.id}", method: :delete do |f| %>
  <% f.submit "Delete Language", class: "btn-delete" %>
<% end %>

</div>
