<div class='specificsContainer'>
  <div class='rightaside'>
    <h1><%= @language.level %></h1>
    <p><%= @language.description %></p>
    <h6> <%= link_to "Edit Language-Level", edit_language_path(@language) if @language.user == current_user %></h6>

    <h2> Lessons </h2>
    <% @lessons.each do |lesson| %>
    <div class='contless'
      <span id='linktolesson'><a href= "/languages/<%= @language.id %>/lessons/<%= lesson.id %>"><img class='imgPreviews' src="<%= lesson.photo_url %>" alt="lesson picture"></a></span>
      <span><a class="lessonlinktext" href= "/languages/<%= @language.id %>/lessons/<%= lesson.id %>"><%= lesson.title %></a></span>
    </div>
    <% end %>
    <p><%= link_to "Create a Lesson", new_language_lesson_path(@language) if current_user %></p>
  </div>
<div id="calendar">
  <%= month_calendar events: @gatherings do |date, gatherings| %>
    <%= date.day %>

    <% gatherings.each do |gathering| %>
      <div>
        <%= link_to gathering.topic, language_gathering_path(@language, gathering) %>
      </div>
    <% end %>
  <% end %>
</div>

<aside>
  <div class='socialEvents'>
    <h1>Social Events</h1>
    <% @gatherings.each do |gathering| %>
      <h2> <%= link_to gathering.topic, language_gathering_path(@language,gathering.id) %> </h2>
      <p>  Status:
      <% if gathering.users.include? current_user %>
        <%= link_to "Attending".html_safe, remove_attendance_gathering_path(gathering), method: :delete, class: "att" %>
      <% else %>
        <%= link_to "Not Attending".html_safe, add_attendance_gathering_path(gathering), method: :post, class: "not-att" %>
      <% end %>
    </p>
    <% end %>

    <p>
      <%= link_to "Create a Social Event", new_language_gathering_path(@language) if current_user %>
    </p>
  </div>
</aside>
</div>
