<div class='specificsContainer'>
  <div class='rightaside'>
    <%= link_to "Back", :back %>
    <h2><%= @language.level %></h2>
    <h6><%= @language.description %></h6>
    <h5> <%= link_to "Edit Language-Level", edit_language_path(@language) if @language.user == current_user %></h5>

    <h2> Lessons </h2>
    <% @lessons.each do |lesson| %>
    <div class='contless'>
      <span id='linktolesson'><a href= "/languages/<%= @language.id %>/lessons/<%= lesson.id %>"><img class='imgPreviews' src="<%= lesson.photo_url %>" alt="lesson picture"></a>
      <a class="lessonlinktext" href= "/languages/<%= @language.id %>/lessons/<%= lesson.id %>"><%= lesson.title %></a></span>
    </div>
    <% end %>
    <h5><%= link_to "Create a Lesson", new_language_lesson_path(@language) if current_user %></h5>
  </div>

<div id="calendar">
  <h5> Check out the Events for <%= @language.level %>.</br> For Details simply click the links on the side or event in the calendar below.</h5>
  <%= month_calendar events: @gatherings do |date, gatherings| %>
    <%= date.day %>

    <% gatherings.each do |gathering| %>
      <div>
        <%= link_to gathering.topic, language_gathering_path(@language, gathering) %>
      </div>
    <% end %>
  <% end %>
</div>

<aside>
  <div class='socialEvents'>
    <h2>Social Events</h2>
    <h5><%= link_to "Create a Social Event", new_language_gathering_path(@language) if current_user %></h5>

    <% @gatherings.each do |gathering| %>
      <h3> <%= link_to gathering.topic, language_gathering_path(@language,gathering.id) %> </h3>
      <p>  Status:
      <% if gathering.users.include? current_user %>
        <%= link_to "Attending".html_safe, remove_attendance_gathering_path(gathering), method: :delete, class: "att" %>
      <% else %>
        <%= link_to "Not Attending".html_safe, add_attendance_gathering_path(gathering), method: :post, class: "not-att" %>
      <% end %>
    </p>
    <% end %>

  </div>
</aside>
</div>
