<div class="lessonShow">
  <%= link_to "Back", :back %>

<h1><%= @lesson.title %></h1>
<h4><%= @lesson.summary %></h4>

<a href="<%= @lesson.link_url %>" target='_blank'><img src="<%= @lesson.photo_url %>" alt="picture of <%= @lesson.title %>"></a>

<h5> Click image above to go to lesson video on YouTube.</h5>

<h5> <%= link_to "Edit Lesson", edit_language_lesson_path(@language, @lesson) if @lesson.user == current_user %></h5>
</div>
