<!DOCTYPE html>
<html>
  <head>
    <title>Phraseology</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
    <span class='logobox'>
      <a class="logo" href= "/languages"><%= image_tag("my_logo.png") %> Home</a>
    </span>
    <span class="authentification">
        <% if !current_user %>
          <%= link_to "Sign up", new_user_registration_path, :class => "auth" %>
          <%= link_to "Sign in", new_user_session_path, :class => "auth" %>
        <% else %>
          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "auth" %> of
          <%= current_user.email %>
        <% end %>
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </span>
    </nav>
      <%= yield %>
  </body>
</html>
